@import '../../styles/lib';

$base-class: code-cell;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  &__code-cell {
    height: calc(100% - 10px);
    display: flex;
    flex-direction: row;
  }

  &__progress-wrapper {
    flex-grow: 1;
    background-color: white;
  }

  &__progress-cover {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    animation: fadeIn 1s;
  }

  &__editor-wrapper {
    position: relative;
    height: 100%;
    width: calc(100% - 10px);
  }

  &__action-buttons {
    position: absolute;
    top: 5px;
    right: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
  }

  &__editor-wrapper:hover &__action-buttons {
    opacity: 1;
  }

  &__icon {
    cursor: pointer;
  }

  &__preview-wrapper {
    position: relative;
    height: 100%;
    flex-grow: 1;
  }

  &__react-draggable-transparent-selection &__preview-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &__preview-pane {
    height: 100%;
    width: 100%;
  }

  &__preview-error {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
  }

  &__preview-wrapper {
    position: relative;
    height: 100%;
    flex-grow: 1;
  }

  &__react-draggable-transparent-selection &__preview-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &__preview-pane {
    height: 100%;
    width: 100%;
  }

  &__preview-error {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
