@import '../../styles/lib';

$base-class: radio-button;

:export {
  baseClass: $base-class;
}

input[type='radio'] {
  @include border-radius(50%);

  appearance: none;
  background-color: map-get($colors, prosecutor);
  margin: 0;
  font: inherit;
  color: map-get($colors, prosecutor);
  width: 16px;
  height: 16px;
  @include transform(translateY(2px));
}

input[type='radio']::before {
  @include border-radius(50%);

  content: '';
  position: absolute;
  top: 50%;
  left: -3px;
  border: 1px solid map-get($colors, prosecutor);
  @include transform(translateY(-50%));
  opacity: 0;
  width: 20px;
  height: 20px;
}

input[type='radio']:checked::before {
  opacity: 1;
  animation: scaleInOut 0.25s;
}

.MuiRadio-colorSecondary.Mui-checked:hover {
  background-color: #097d8814 !important;
}

.MuiIconButton-colorSecondary:hover {
  background-color: #097d8814 !important;
}
.#{$base-class} {
  .MuiRadio-colorSecondary.Mui-checked {
    color: map-get($colors, lawyer);
  }

  &__radio {
    @include transform(scale(2));
  }
  &__label {
    @include type-style-city;

    margin-left: 8px;

    &--light {
      color: white;
    }

    &--disabled {
      color: map-get($colors, juror-3);
    }
  }
}
