@import '../../styles/lib';

$base-class: dictionary;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  @include box-level-4;

  z-index: 1011;
  width: 250px;
  min-height: 300px;
  background-color: whitesmoke;
  position: fixed;
  top: 2rem;
  left: calc(100vw - 27rem);

  &__header {
    @include modal-section('header');

    padding-top: 16px;
    display: flex;
    flex-direction: row;
  }

  &__content {
    @include modal-section('content');

    padding: map-get($spacing, s);
    overflow: scroll;
  }

  &__result {
    width: 100%;
    min-height: 150px;
    max-height: 500px;
    border: 1px solid black;
    overflow: scroll;
  }

  &__spinner {
    @include center-horizontally;
    position: relative;
    margin-top: 70px;
    transition: 0.2s ease-in-out;
  }
}
