@import '../../styles/lib';

$base-class: cbook;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  padding: 10px 50px 25vh;
  height: 100vh;
  background-color: #1f2d3b;
  overflow-y: scroll;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;

  .react-draggable-transparent-selection &__cell-list {
    margin-bottom: 50vh;
  }
}
