@import '../../styles/lib';

$base-class: label-text;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  @include type-style-justice;

  color: map-get($colors, chimera);
  display: inline-block;
}
