@import url('https://csshake.surge.sh/csshake.min.css');

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  font-size: 62.5%;
}
.global {
  &--home-page {
    .app {
      background-color: inherit;
      padding: 0;
    }
  }
}
