@import url('https://csshake.surge.sh/csshake.min.css');

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  font-size: 62.5%;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
.global {
  &--home-page {
    .app {
      background-color: inherit;
      padding: 0;
    }
  }
}
