@import '../../styles/lib';

$base-class: login-form;

/* stylelint-disable property-no-unknown */

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  padding-top: 12px;

  &__input {
    min-width: 450px;
    margin: 12px 0 24px 0;
  }

  &__forgot-password-link {
    @include type-style-city;

    text-decoration: none;
    display: block;
    text-align: right;
  }

  &__submit-button {
    min-width: 183px;
  }

  &__form-error {
    @include type-style-city;

    color: map-get($colors, rejected);
  }

  &__display-none {
    display: none;
  }

  &__error {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__password-container {
    position: relative;
  }

  @media only screen and (max-width: 1024px) {
    &__input {
      min-width: auto;
    }

    &__forgot-password-link {
      text-align: center;
    }

    &__submit-button {
      left: 50%;
      @include transform(translate(-50%));
      margin-top: 10px;
    }

    &__forgot-password-link-div {
      margin-bottom: 20px;
    }
  }
}
