@import '../../styles/lib';

$base-class: toggle-bar;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  position: relative;
  display: flex;
  flex-direction: row;
  height: fit-content;

  &__btn {
    @include type-style-city;

    font-size: 1.6rem;

    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: map-get($colors, button-dark);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    position: relative;
  }

  &__btn-cali {
    @include type-style-cali;
  }

  &__focus {
    position: absolute;
    @include transition(left 200ms ease-in-out 50ms);
  }

  &__native {
    @include box-level-3;
    @include border-radius(20px);
  }
}
