@import '../../styles/lib';

$base-class: onboarding-layout;
$big: 1920px;
$small: 1336px;
$medium: 1440px;

/* stylelint-disable property-no-unknown */
:export {
  baseClass: $base-class;
}

.#{$base-class} {
  @include type-style-city;

  // background-color: map-get($colors, victim);

  position: relative;
  width: 100%;
  min-height: inherit;
  overflow: hidden;
  left: 0;
  top: 0;

  &__left-column {
    min-width: 472px;
    background: map-get($colors, header-bg);
  }

  @mixin row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  @mixin column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  &__row {
    @include row;
    @media only screen and (min-width: $big) {
      min-height: 70vh;
    }
    min-height: 60vh;
  }

  &__header-row {
    padding-top: 5%;
    text-align: right;
    position: relative;
    right: 30%;
    top: 5%;
    @include row;

    .link {
      text-decoration: none;
    }
  }

  &__logo-row {
    @include row;
    height: 25%;
    padding-bottom: 50px;
    align-items: center;
  }

  &__content-row {
    @include row;
    flex-direction: column;
    flex-wrap: nowrap;
    // width: auto;
    max-width: 460px;
    min-width: 310px;
    // height: 60%;
  }

  &__description {
    position: relative;
  }

  &__marketing-image {
    height: 100vh;
    position: relative;
  }

  // &__bg-image {
  //   background-image: url('https://d11lhk1osoqib6.cloudfront.net/banking-built-sidebar.png');
  //   width: 100%;
  //   height: 100vh;
  //   background-repeat: no-repeat;
  //   background-size: 300px 100px;
  // }

  &__marketing-image img {
    height: inherit;
    min-height: 760px;
  }

  &__left-column {
    @include column;
    flex: 1;
  }

  &__onboarding-footer {
    width: 100%;
    height: 30%;
    position: relative;
  }

  &__onboarding-footer-text {
    width: 132%;
    color: #56656a;
    padding: 15px 30px 0px 30px;
  }

  &__center-column {
    @include column;
    justify-content: space-evenly;
    // max-width: 460px;
    // min-width: 310px;
    margin-top: 5%;
    justify-content: space-between;
    align-items: center;
    flex: 3;
  }

  &__right-column {
    @include column;
    flex: 1;
  }

  &__logo {
    background-image: url('https://public-assets-7588.s3.ap-south-1.amazonaws.com/logo/My+project-1.png');
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    text-indent: -1000em;
  }

  &__logo-white {
    display: block;
    width: 100px;
    height: 68px;
    background-size: 100px 68px;
    position: absolute;
    left: 15%;
    top: 7%;
  }

  &__logo-white img {
    width: 100% !important;
    height: 100% !important;
    min-height: auto;
  }

  &__title {
    padding-right: 120px;
    line-height: 1;
    display: flex;
    flex-direction: row;
  }

  &__title h1 {
    font-size: 2em;
    margin: 0.67em 0;
    padding-bottom: 0px;
    font-family: 'Nunito Sans';
  }

  &__img {
    top: 3px;
    left: 5px;
    position: relative;
  }

  &__content {
    min-width: 450px;
    max-width: 450px;
  }

  &__terms-and-privacy-link,
  &__link:visited,
  &__link:active {
    @include type-style-city;
    color: map-get($colors, lawyer);
    text-decoration: none;
  }

  &__getstarted-image-text-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 33%;
    left: 15%;
    max-width: 285px;
  }

  &__banking-image-text-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 15%;
    max-width: 300px;
  }
  &__getstarted-image-rectangle {
    width: 22px;
    height: 7px;
    margin: 0 284.5px 26px 2.5px;
    background-color: #89eabf;
  }

  &__getstarted-image-text-heading {
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-bottom: 15px;
  }

  &__banking-image-text-heading {
    font-size: 38px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-bottom: 15px;
  }

  &__getstarted-image-text {
    display: flex;
    margin: 15px 0px;
  }

  &__getstarted-image-text-number {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #89eabf;
    margin-right: 5px;
  }

  &__getstarted-image-text-content {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  @media only screen and (max-width: 1024px) {
    &__logo {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80px 35px;
    }
    &__center-column {
      width: 100%;
      max-width: inherit;
      min-width: inherit;
    }
    &__row {
      flex-direction: column;
    }
    &__content {
      min-width: inherit;
      max-width: inherit;
      width: 100%;
    }
    &__row {
      padding: 0px 30px;
    }
    &__header-row {
      padding-top: 0%;
      justify-content: center;
      position: static;
    }
    &__logo-row {
      display: none;
    }
    &__title {
      padding-right: 0px;
      text-align: center;
      width: inherit;
    }
    &__title h1 {
      font-size: 24px;
      text-align: center;
    }
    &__marketing-image {
      display: none;
    }
    &__content-row {
      min-width: 275px;
    }
  }
}
