@import '../../styles/lib';

$base-class: img-converter;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  @include type-style-jd;
  padding-top: 5rem;
  height: 100vh;

  &__convert {
    margin: auto;

    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    width: 100%;
    gap: 10px;
  }

  &__from-text {
    grid-column: 1 / 4;

    @include center-horizontally;
  }

  &__from-field {
    grid-column: 4 / 8;
  }

  &__to-text {
    grid-column: 8 / 10;

    @include center-horizontally;
  }

  &__to-field {
    grid-column: 10 / 14;
  }

  &__submit {
    grid-row: 2;
    grid-column: 6 / 9;
  }
}
