@import '../../styles/lib';

$base-class: img-converter;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  @include type-style-jd;
  height: 100vh;
  background-color: map-get($colors, gardenia);

  &__title {
    text-align: center;
  }

  &__form {
    padding: 5rem 0;
    background-color: map-get($colors, sun-kiss);
  }

  &__convert {
    margin: auto;

    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 10px;
  }

  &__from-text {
    grid-column: 2 / 3;

    @include center-horizontally;
  }

  &__from-field {
    grid-column: 3 / 5;
  }

  &__to-text {
    grid-row: 2;
    grid-column: 2 / 3;

    @include center-horizontally;
  }

  &__to-field {
    grid-row: 2;
    grid-column: 3 / 5;
  }

  &__submit {
    grid-row: 5;
    grid-column: 3 / 4;
  }

  &__file-field-wrapper {
    margin: auto;

    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 10px;
  }

  &__file-field {
    grid-row: 5;
    grid-column: 3 / 5;
  }
}
