@import '../../styles/lib';

$base-class: modal;
$base-class-dark: modal-dark;

:export {
  baseClass: $base-class;
  baseClassDark: $base-class-dark;
}

.#{$base-class} {
  align-items: center;
  background-color: rgba(map-get($colors, suspect), 0.4);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  &__dialog {
    @include type-style-city;
    @include box-level-4;

    background-color: map-get($colors, victim);
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
    outline: 0;
    position: relative;
    overflow: auto;

    @include tablet {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
    }

    &--size-small {
      width: 424px;
    }

    &--size-medium {
      width: 648px;
    }

    &--size-large {
      width: 872px;
    }

    &--size-x-large {
      width: 1096px;
    }

    &--size-digital-onboarding {
      width: 931px;
      height: 445px;
    }
    &--size-xx-large {
      width: 100vw;
    }
    &--size-tall {
      height: 70vh;
    }
  }

  &__close {
    color: map-get($colors, suspect);
    position: absolute;
    right: 16px;
    top: 16px;
  }
  @media only screen and (max-width: 1024px) {
    .modal__dialog {
      height: auto !important;
      min-height: calc(100% - 70%) !important;
    }
  }
}

.#{$base-class-dark} {
  align-items: center;
  background-color: rgba(map-get($colors, suspect), 0.4);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  &__dialog {
    @include type-style-city;
    @include box-level-4;

    color: map-get($colors, victim);
    background-color: rgb(41, 44, 51);
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
    outline: 0;
    position: relative;
    overflow: auto;

    @include tablet {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
    }

    &--size-small {
      width: 424px;
    }

    &--size-medium {
      width: 648px;
    }

    &--size-large {
      width: 872px;
    }

    &--size-x-large {
      width: 1096px;
    }

    &--size-digital-onboarding {
      width: 931px;
      height: 445px;
    }
    &--size-xx-large {
      width: 100vw;
    }
    &--size-tall {
      height: 70vh;
    }
  }

  &__close {
    color: map-get($colors, victim);
    position: absolute;
    right: 16px;
    top: 16px;
  }
  @media only screen and (max-width: 1024px) {
    .modal__dialog {
      height: auto !important;
      min-height: calc(100% - 70%) !important;
    }
  }
}
