@import '../../styles/lib';

$base-class: modal;
$base-class-dark: modal-dark;

:export {
  baseClass: $base-class;
  baseClassDark: $base-class-dark;
}

.ReactModal__Content {
  @include transform(scale(0.75));
  @include transition(all 100ms ease-in-out);
  opacity: 0;
}

.ReactModal__Overlay {
  @include transition(all 100ms ease-in-out);
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--after-open {
  @include transform(scale(1));
  opacity: 1;
}

.#{$base-class} {
  align-items: center;
  background-color: rgba(map-get($colors, butler), 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  &__dialog {
    @include type-style-city;

    display: flex;
    flex-direction: column;
    max-height: calc(100% - 60px);
    max-width: calc(100% - 60px);
    outline: 0;
    position: relative;
    overflow: auto;

    @include tablet {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
    }

    &--background-solid {
      @include box-level-4;

      background-color: map-get($colors, snow);
    }

    &--background-transparent {
      background-color: transparent;
    }

    &--size-small {
      width: 424px;
    }

    &--size-medium {
      width: 648px;
    }

    &--size-large {
      width: 872px;
    }

    &--size-x-large {
      width: 1096px;
    }

    &--size-digital-onboarding {
      width: 931px;
      height: 445px;
    }
    &--size-xx-large {
      width: 100vw;
    }
    &--size-tall {
      height: 70vh;
    }
  }

  &__close {
    color: map-get($colors, butler);
    position: absolute;
    right: 16px;
    top: 16px;
  }
  @media only screen and (max-width: 1024px) {
    .modal__dialog {
      height: auto !important;
      min-height: calc(100% - 70%) !important;
    }
  }
}

.#{$base-class-dark} {
  align-items: center;
  background-color: rgba(map-get($colors, butler), 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  &__dialog {
    @include type-style-city;
    @include box-level-4;

    color: map-get($colors, snow);
    background-color: rgb(41, 44, 51);
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
    outline: 0;
    position: relative;
    overflow: auto;

    @include tablet {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
    }

    &--size-small {
      width: 424px;
    }

    &--size-medium {
      width: 648px;
    }

    &--size-large {
      width: 872px;
    }

    &--size-x-large {
      width: 1096px;
    }

    &--size-digital-onboarding {
      width: 931px;
      height: 445px;
    }
    &--size-xx-large {
      width: 100vw;
    }
    &--size-tall {
      height: 70vh;
    }
  }

  &__close {
    color: map-get($colors, snow);
    position: absolute;
    right: 16px;
    top: 16px;
  }
  @media only screen and (max-width: 1024px) {
    .modal__dialog {
      height: auto !important;
      min-height: calc(100% - 70%) !important;
    }
  }
}
