@import '../../styles/lib';

$base-class: double-confirmation;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  &__content {
    @include modal-section(content);
  }

  &__footer {
    @include modal-section(footer);

    text-align: right;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    gap: 10px;
  }

  &__content-dark {
    @include modal-section(content-dark);
  }

  &__footer-dark {
    @include modal-section(footer-dark);

    text-align: right;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    gap: 10px;
  }

  &__header {
    @include modal-section(header);

    align-items: center;
    display: flex;
  }

  &__icon {
    display: inline-block;
    margin-right: 8px;
  }
}
