@import '../../styles/lib';

$base-class: global-header;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  color: map-get($colors, header-text);
  align-items: center;
  background-color: map-get($colors, header-bg);
  // background-color: map-get($colors, eden);
  display: flex;
  height: 64px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  .visually-hidden {
    @include visually-hidden;
  }

  &__collapse {
    color: map-get($colors, header-text);
    margin-right: 7px;
    margin-left: -15px;
    border: none;
  }

  &__collapse:active {
    outline: none !important;
  }

  &__title {
    color: map-get($colors, header-text) !important;
    @include type-style-heading;
  }

  &__score {
    @include type-style-heading;

    margin-left: 9%;
  }

  &__github {
    width: 60px;
    height: 60px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(https://public-assets-7588.s3.ap-south-1.amazonaws.com/icons/github-100.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1111;
    border-radius: 50%;
    overflow: hidden;
  }

  &__clock {
    overflow-x: hidden;
    position: absolute;
    right: 3%;
  }

  @media only screen and (max-width: 1024px) {
    &__collapse {
      margin-left: -20%;
    }
    &__clock {
      right: 1%;
    }
    padding: 0 10px;

    &__title {
      transform: translateX(-22px);
    }
  }

  @media only screen and (max-width: 455px) {
    &__title {
      transform: translateX(-30px);
    }
  }
}
