@import '../../styles/lib';

$base-class: image-modal;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  @include type-style-justice;
  background: transparent;

  &__image {
    @include center-horizontally;
  }
}
