@mixin center-on-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 64px);
  text-align: center;
}

@mixin center-horizontally {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin center-vertically {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-on-div {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}
